           body{
            background-color: #1b1b1b;
            text-align: center;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
        }
        a{
            color: white;
            text-decoration: none;
        }
    